{
  "openapi": "3.0.3",
  "info": {
    "title": "Project Manager API",
    "version": "1.0.0",
    "description": "Complete RESTful API documentation for Authentication, Users, Projects, and Tasks modules."
  },
  "servers": [
    {
      "url": "http://pm.agro-plus.net/api/v1",
      "description": "Production Server (HTTP)"
    },
    {
      "url": "https://pm.agro-plus.net/api/v1",
      "description": "Production Server (HTTPS)"
    },
    {
      "url": "http://localhost:3009/api/v1",
      "description": "Local Development Server"
    },
    {
      "url": "http://localhost:8090/api/v1",
      "description": "Docker Development Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Enter JWT Bearer token obtained from /authentication/signin"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/authentication/signup": {
      "post": {
        "summary": "User Signup",
        "description": "Register a new user account (Status defaults to unapproved, requires admin approval)",
        "tags": ["Authentication"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "name": "Jane Doe",
                "email": "jane.doe@example.com",
                "password": "Password123!",
                "phone": "01012345678"
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Account registered successfully, pending admin approval" },
          "400": { "description": "Validation error or Email already exists" }
        }
      }
    },
    "/authentication/signin": {
      "post": {
        "summary": "User Signin",
        "description": "Authenticate user and receive JWT access & refresh tokens",
        "tags": ["Authentication"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "email": "admin@pm.com",
                "password": "Password123!"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Login successful, returns tokens and user permissions" },
          "400": { "description": "Validation error or User account is not approved yet" },
          "401": { "description": "Invalid email or password" },
          "403": { "description": "User account is deactivated" }
        }
      }
    },
    "/authentication/refresh-token": {
      "post": {
        "summary": "Refresh Access Token",
        "description": "Obtain new access token using a valid refresh token",
        "tags": ["Authentication"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "refreshToken": "your_refresh_token_here"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Token refreshed successfully" },
          "400": { "description": "Refresh token is required" },
          "401": { "description": "Invalid or expired refresh token" }
        }
      }
    },
    "/user/profile": {
      "get": {
        "summary": "Get Profile",
        "description": "Retrieve profile of currently authenticated user",
        "tags": ["Users"],
        "responses": {
          "200": { "description": "Profile fetched successfully" },
          "401": { "description": "Unauthorized token missing or invalid" }
        }
      }
    },
    "/user": {
      "get": {
        "summary": "Get All Users",
        "description": "List users with search, role, active, and approval filters",
        "tags": ["Users"],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10 } },
          { "name": "search", "in": "query", "schema": { "type": "string" } },
          { "name": "role", "in": "query", "schema": { "type": "string" } },
          { "name": "approved", "in": "query", "schema": { "type": "boolean" } },
          { "name": "active", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": { "description": "Users retrieved successfully" },
          "403": { "description": "Forbidden - requires user:read permission" }
        }
      }
    },
    "/user/pending-approval": {
      "get": {
        "summary": "Get Pending Approval Users",
        "description": "Get users waiting for admin registration approval",
        "tags": ["Users"],
        "responses": {
          "200": { "description": "Pending users retrieved" },
          "403": { "description": "Forbidden - requires admin permission" }
        }
      }
    },
    "/user/{id}/approve": {
      "patch": {
        "summary": "Approve User Registration",
        "tags": ["Users"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "User approved successfully" },
          "400": { "description": "User is already approved" },
          "404": { "description": "User account was not found" }
        }
      }
    },
    "/user/{id}/active": {
      "patch": {
        "summary": "Toggle User Active Status",
        "tags": ["Users"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "User active status toggled" },
          "404": { "description": "User account was not found" }
        }
      }
    },
    "/projects": {
      "get": {
        "summary": "Get All Projects",
        "tags": ["Projects"],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10 } },
          { "name": "search", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Projects retrieved successfully" }
        }
      },
      "post": {
        "summary": "Create Project",
        "description": "Create a new project (Restricted: Member role returns 403)",
        "tags": ["Projects"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "name": "E-Commerce Project",
                "description": "Main e-commerce platform.",
                "members": [
                  "user-uuid-here"
                ]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Project created successfully" },
          "400": { "description": "Project already exists" },
          "403": { "description": "Forbidden - Member cannot create project" }
        }
      }
    },
    "/projects/my-projects": {
      "get": {
        "summary": "Get My Projects",
        "tags": ["Projects"],
        "responses": {
          "200": { "description": "User member projects retrieved" }
        }
      }
    },
    "/projects/{slug}": {
      "get": {
        "summary": "Get Project By Slug",
        "tags": ["Projects"],
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Project fetched successfully" },
          "404": { "description": "Project not found" }
        }
      }
    },
    "/projects/{id}": {
      "patch": {
        "summary": "Update Project",
        "tags": ["Projects"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "name": "Updated Project Name",
                "description": "Updated project description."
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Project updated" },
          "404": { "description": "Project not found" }
        }
      },
      "delete": {
        "summary": "Delete Project",
        "tags": ["Projects"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Project deleted" },
          "404": { "description": "Project not found" }
        }
      }
    },
    "/projects/{id}/add-members": {
      "post": {
        "summary": "Add Members to Project",
        "tags": ["Projects"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "userIds": ["user-uuid-1", "user-uuid-2"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Members added successfully" },
          "404": { "description": "Project or user ID not found" }
        }
      }
    },
    "/projects/{id}/remove-members": {
      "delete": {
        "summary": "Remove Members from Project",
        "tags": ["Projects"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "userIds": ["user-uuid-1"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Members removed successfully" },
          "404": { "description": "Project or user ID not found" }
        }
      }
    },
    "/tasks/projects/{projectId}/tasks": {
      "post": {
        "summary": "Create Task in Project",
        "tags": ["Tasks"],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "title": "Design Database Schema",
                "description": "Create PostgreSQL schema and models.",
                "priority": "HIGH",
                "dueDate": "2026-08-15T12:00:00.000Z",
                "assigneeId": "user-uuid-here"
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Task created successfully" },
          "400": { "description": "Assignee is not a member of this project" },
          "404": { "description": "Project not found" }
        }
      },
      "get": {
        "summary": "Get Project Tasks",
        "tags": ["Tasks"],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["TODO", "IN_PROGRESS", "DONE"] } },
          { "name": "priority", "in": "query", "schema": { "type": "string", "enum": ["LOW", "MEDIUM", "HIGH"] } },
          { "name": "assigneeId", "in": "query", "schema": { "type": "string" } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Tasks retrieved successfully" }
        }
      }
    },
    "/tasks/tasks/{id}": {
      "get": {
        "summary": "Get Task By ID",
        "tags": ["Tasks"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Task details fetched" },
          "404": { "description": "Task not found" }
        }
      },
      "patch": {
        "summary": "Update Task Details (Admin Only)",
        "tags": ["Tasks"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "title": "Updated Task Title",
                "description": "Updated task description",
                "priority": "HIGH",
                "dueDate": "2026-08-20T12:00:00.000Z"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Task updated successfully" },
          "403": { "description": "Forbidden - Only Admin can update task metadata" },
          "404": { "description": "Task not found" }
        }
      },
      "delete": {
        "summary": "Delete Task (Admin Only)",
        "tags": ["Tasks"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Task deleted successfully" },
          "403": { "description": "Forbidden - Only Admin can delete task" },
          "404": { "description": "Task not found" }
        }
      }
    },
    "/tasks/tasks/{id}/status": {
      "patch": {
        "summary": "Update Task Status",
        "description": "Update task status (Allowed for task assignee or Admin, returns 403 for non-assignee member)",
        "tags": ["Tasks"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "status": "IN_PROGRESS"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Task status updated" },
          "403": { "description": "Only the assigned member can update task status" },
          "404": { "description": "Task not found" }
        }
      }
    },
    "/tasks/tasks/{id}/assign": {
      "patch": {
        "summary": "Reassign Task (Admin Only)",
        "tags": ["Tasks"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "assigneeId": "new-user-uuid-here"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Task reassigned successfully" },
          "400": { "description": "Assignee is not a member of this project" },
          "403": { "description": "Forbidden - Only Admin can reassign tasks" },
          "404": { "description": "Task not found" }
        }
      }
    }
  }
}
